
body
{
   
    color: var(--mainColor) !important;
    font-family: 'segoe ui light';
    overflow-y: hidden;
 
 
}
#btnUp
{
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 88;
    display: none;
}
/* background thabtaa */
#loading
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 99999999999;
}
h1
{
    font-size: 3rem;
    font-weight: 800;
}
a
{
    font-size: 0.9rem;
}

.light-dots
{
    background-image: url(../images/light_dot.jpg);
}
.dark-dots
{
    background-image: url(../images/dark_dot.jpg);
}
.color-main
{
    color: #ff206e !important;
}
.bg-main
{
    background-color: #ff206e !important ;
}
.bg-black
{
    background-color: black !important;
}
.title h2 , .title h3
{
    font-weight: 800;
    letter-spacing: 3px;
}
.title h2
{
    font-size: 5rem;
    color: #f1f1f1;
}
.title h3
{
    font-size: 2.5rem;
    color: #000;
}
.navbar-padding
{
    padding-left: 60px;
    padding-right: 60px;
}
#main-nav
{
    transition: background-color  1s , padding 1s ;
}
.navbar-dark .navbar-nav .nav-link
{
    color: #Fff !important;
}
a:hover
{
    text-decoration: none;
}
.icon
{
    height: 2.2rem;
    width: 2.2rem;
    margin: 5px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    cursor: pointer;
  
}
.icon a
{
    color: #Fff;
}
header
{
    height: 100vh;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.about-image
{
    box-shadow: 0 10px 30px rgba(0,0,0,.25);
}

#services .title h2
{
    color: #222;
}
#services .title h3
{
    color: #fff;
}
#services .icon
{
    background-color: #000;
    color: #fff;
    border: solid 2px #Fff;
    border-radius: 50%;
    bottom:100%;
    left: 50%;   
    transform: translateX(-50%) translateY(50%);
}
#services h4
{
    position: relative;
}
#services h4::after
{
    content:"";
    width: 15%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    position: absolute;
    background-color: #ff206e ;
}
.service-item
{
    margin: 40px 0px;
}


.spinner {
    margin: 200px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;   
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
#options{
    /* background-color: tomato; */
    position: fixed;
    z-index:5 ;
    left: 0px;
    top: 150px;
}
#options i {
    background-color: red;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
#colorsBox{
    
    background-color: #ccc;
    padding: 10px;
}
.color-item{
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: orange;
    display: inline-block;
}



.line {
    width: 60px;
    height: 2px;
    background-color: #ff206e;
  }
  .feedback-img {
    width: 100px;
    height: 100px;
    border: solid 3px #f4f4f4;
  }
  .feedback {
    border: solid 2px #f4f4f4;
  }
  .imgg{
    transform: translateY(50%);
  }
  .feedback .brdr{
    width: 10%;
    height: 2px;
    margin:10px auto;
    background-color: #ff206e;
  }
  
  .carousel-indicators [data-bs-target]{
    width: 50px;
    height: 50px;
    text-indent: 0;
    border-radius: 50%;
  }
  .carousel-indicators [data-bs-target] img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  #section4 h2{
    font-family: 'Bebas Neue', cursive;
  
  }
  #contacts{
    height: 600px;
    background-color: #e7015a;
  }
  

  /*contact section*/
#CONTACT{
  margin-top:100px;
}

#CONTACT .head h2{
  text-transform: uppercase;
  font-size: 35px;
  color:#444;
  font-weight: bold;
  margin-bottom: 20px;
}
#CONTACT .head p{
  color:#777;
  font-weight: 300;
  font-size: 16px;
}
#CONTACT .con-info h3{
  color:#444;
  font-size: 18px;
  font-weight: bold;
}
#CONTACT .con-info p{
  font-size: 16px;
  line-height: 26px;
  color:#777;
}

#CONTACT .icons{
  margin-top:50px;
}
#CONTACT .icons p{
  margin-bottom: 35px;
}
#CONTACT i{
  margin-right: 20px;
  color:#777;
}
#CONTACT .red{
  color:#D62E33 !important;
}


#CONTACT .con-info .social-list{
  margin-top:60px;
  color:#777;
  
}

#CONTACT .con-info .social-list i{
  margin-right: 10px;
  border:1px solid #999;
  width:40px;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
}
#CONTACT .con-info .social-list i:hover{
  color:#fff;
  background-color: #D62E33;
  border:1px solid #D62E33;
}
#CONTACT form input,
#CONTACT form textarea{
  margin-bottom: 20px;
  border-radius: 0;
}
#CONTACT form textarea{
  height: 200px;
  resize:vertical;
}

#CONTACT form button{
  background-color: #D62E33;
  color:#fff;
  padding:10px 20px;
  border-radius: 0;
  text-transform: uppercase
}

#chars
{
  font-size: 20px;
  color: #D62E33;
}